

body {
  background-image: linear-gradient(rgb(153, 202, 178), rgb(214, 166, 170));
  font-family: "Segoe UI";
  font-size: 16px;
  color: rgb(113, 117, 117);
  justify-content: center;
  text-align: center;
  margin-top:5cm;
  margin-left:5cm;
  margin-right:5cm;
  margin-bottom:5cm;
  padding-bottom:2.9cm;
  border-radius: 35px 0px 35px 0px; 
 
}



p {
 font-family: "Segoe UI";
 font-style: italic;
 font-size: 20px;
 color: rgb(14, 168, 148);
 justify-content: center;
 text-align: center; 
}











.boton-cancel {
 color: crimson;
 padding: 5px;
 border-radius: 5px;
}

.boton-aceptar {
 color: rgb(34, 114, 103);
 padding: 5px;
 border-radius: 5px;
}







/* Acá llamamos al elemento -oculto- de HTML, y agregamos botón ---display none- para que no muestre nada de las pantallas en que no estamos interactuando. Fue uno de los primeros pasos*/
.oculto {
  display: none;
}
